
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro&display=swap');


body
{
  
    margin: 0px;
    background-color: #fafafc;
 
}
.menu
{
    color: white;
    display: none;
}
header
{
    height: 70px;
    background-color: #3cb1ff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px ridge #3cb1ff;
    animation: opening 1 5s;

}
.logo
{
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    animation: opening 1 5s;
}   
.search
{
    display: flex;
    height: 100%;
    align-items: center;
    widows: 50%;
    animation: unseen 1 6s;

}  
.search>input
{
    max-height: 30%;
    width: 500px;
}


.logo>h3
{
    
   
    font-family: 'Righteous', cursive;
    font-size:1.4em;
    
}
.logo>img
{
    width: 80px;
    
  
}
.loading
{
    width: 0px;
    height: 120px;
    background-color: #3cb1ff;
    position: fixed;
    top: 270px;
    left: 1000px;
    
    
   

}
.loading_reverse
{
    max-width: 0px;
    height: 120px;
    background-color: #3cb1ff;
    position: fixed;
    top: 330px;
    left: 930px;
    
    
   

}

.loading_reverse>img
{
    width: 0px;
  

}
.options
{
    width: 70%;
    display: flex;
    justify-content: space-between;
    animation: unseen 1 6s;
}
.options>a
{
    color: white;
    text-decoration: none;
}
.options>a:hover
{
    font-weight: bold;
}


.options_photo
{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    
    
}
main
{
    margin-top: 70px;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 0%;
}

aside
{
    height: 100%;
    width: 20%;
    background-color: #4e4e4e;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    justify-content: space-between;
    
   


    
}



.line
{
    background-color: white;
    margin-top: 10px;
    border-bottom: 1px solid #e2e2e6; 
    height: 50px;
    width: 95%;
    display: flex;
    font-size: 0.9em;
    padding-right: 10px;
    padding-left: 10px;
}
.my_emails
{
    display: flex;
    flex-direction: column;
    line-height: 200%;
}
.my_emails>a
{
    color: white;
    text-decoration: none;
}

.my_emails>a:hover
{
    font-weight: bold;
}
h3
{
    color: white;
}

.my_emails
{
    display: flex;
    flex-direction: column;
    line-height: 200%;
}
.folders>a
{
    color: white;
    text-decoration: none;
}
.folders
{
    display: flex;
    flex-direction: column;
    line-height: 200%;
}

.folders>a:hover
{
    font-weight: bold;
}

.settings
{
    width: 20%;
    background-color: #616161;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    animation: unseen 1 6s;
}
.settings:hover
{
    background-color: #777676;
}

.settings>a
{
    text-decoration: none;
}

.settings>a>h3:hover
{
    font-weight: bold;
}
.settings>img
{
    height: 25px;
    width: 25px;
    animation: unseen 1 6s;
}
.photo>img
{
    max-height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    animation: unseen 1 6s;

    
}

.mini
{
    display: flex;
    align-items: center;
    width: 25%;
}

.mini>img
{
    max-width: 50px;
}

.email_subject
{
    
    display: flex;
    align-items: center;
    width: 25%;
}
.email_content
{
    font-size: 0.85em;
    display: flex;
    align-items: center;
    margin-left: 2%;
    width: 41%;
    
    
}
.hour
{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.85em;
    width: 9%;
}

.line:hover
{
    
        transform: scale(1.02);
      
}

.loading>img
{
    width: 100%;
}
@media (min-width: 500px)
{
    .nm_title
    {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding-left: 2%;
    }
    .nm_title>a
    {
        color: white;
        width: 30px;
        background-color: orange;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .nm_subject
    {
     padding-left: 40px;
    }
    .nm_receiver
    {
        padding-left: 40px;

    }
    .nm_content
    {
        padding-left: 40px;

    }
    .nm_options
    {
        padding-left: 40px;

    }
    .nm_send
    {
        padding-left: 50px;

    }
    .new_message_icon:hover .new_mail
{
    display: block;
    font-size: 0.2em;;
    box-shadow: 4px 2px 2px grey;
    border-radius: 5px;
}
.loading_reverse>img
{
  
    animation: charge_reverse 1 9s;

}
.loading
{

    animation: charge 1 9s;
    
}
.logo>h3
{
    
   

    animation: opening_title 1 5s;
}
.logo>img
{
  
    
    animation: opening_logo 1 5s;
}
header
{

    animation: opening 1 5s;
}

}



article
{
    height: 750px;
    width: 70%;
    
   margin-right: 5%;
   margin-top: 50px;
   
   border: 1px solid #4e4e4e;
   
}
.nm_title
{
    border-bottom: 1px solid #4e4e4e;

    width: 98%;
    height: 6%;
    background-color: #3cb1ff;
    display: flex;
    

    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.nm_subject
{
    background-color: 
    width: 100%;
    height: 7%;
}

.nm_receiver
{
    background-color: ;
    height: 7%;
}

.nm_content
{
background-color: ;
height: 50%;
}

.nm_options
{
color: black;
min-height: 50px;

}

.nm_options>i
{
    color: #3cb1ff ;
    font-size: 1.3em;
}

.nm_options:hover .nm_options_visible{
    opacity: 100%;
}

.nm_options_visible
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100px;
    width: 550px;
    opacity: 0%;
}

.nm_send>input
{

background-color: #3cb1ff;
color: white;
width: 180px;
height: 40px;
border-radius: 12px;
font-weight: bold;
font-size: 1.1em;
}

textarea
{
    width: 85%;
    height: 350px;
}
.nm_send
{
    width: 85%;
    display: flex;
    justify-content: flex-end;
}



@media (max-width: 500px) {

    .nm_title
    {
        justify-content: space-between;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        background-color: white;
        color: #3cb1ff ;
        margin-bottom: 30px;

    }
    .nm_title>a
    {
        background-color: orange;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        border-radius: 8px;

    }
    textarea
    {
        width: 95%;
        height: 300px;
    }
    .nm_content
    {
        height: 320px;
    }
    .nm_send
    {
        display: flex;
        justify-content: center;
    }
   


    article
{
    height: 100%;
    width: 100%;
    padding-left: 0%;
    padding-top: 0px;

   margin-right: 0%;
   margin-top: 20px;
   border: none;
    
}
    .menu
    {
        animation: unseen 1 6s;
    }
 
    .loading_reverse>img
{
  
    animation: charge_reverse_mobile 1 9s;

}
    .loading>img
{

    animation: charge_mobile 1 9s;
    
}
    .logo>h3
{
    
   

    animation: opening_title_mobile 1 5s;
}

    .logo>img
    {
      
        
        animation: opening_logo_mobile 1 5s;
    }


aside
{
    display: none;
}


.line
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
}


article
{
  
    width: 100%;
}


.mini
{
    width: 100%;
}


.email_subject
{
    width: 100%;
}


.email_content
{
    width: 100%;
}


.hour
{
    width: 100%;
    justify-content: center;
    align-items: baseline;
    
}


.search
{
    display: none;
}


.options
{
    display: none;
}
.menu
{
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}
.logo
{
    width: 60%;
    
}
.options_photo
{
    width: 20%;
}
}






 
#mobile_menu, #mobile_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mobile_menu {
 
   background:#3cb1ff;
   color:white;
   font-size: 0.7em;
    
}
#mobile_menu> li {
 
    display: inline-block;
    margin:0px 19px;
    padding:10px;
}
#mobile_menu ul li {
     
    padding:10px;
    background:#4e4e4e;
    color:white;
     
}
#mobile_menu a {
    text-decoration: none;
    color:white;
}
#mobile_menu ul {
    position: absolute;
    text-align:left;
    margin:10px 0px 0px -14px ;
 
    display:none;
     
}
#mobile_menu li:hover ul {
 
    display:block;
}
 
#mobile_menu li:hover{
    background:#3cb1ff;
     
}

.menu>img
{
    max-width: 30px;
}



